<!-- views/partials/_ header.ejs -->
<header>
  <h1>Tiny App</h1>
</header>
<form method="POST" action="/login">
  <input type="text" name="username" placeholder="username">
  <input type="submit" value="Submit">
</form>