<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header %>
  <ul>
  <% for(let url in urls) { %>
    <li><%= urls[url] %> -> <%= url %></li>
  <%}%>
</ul>
<a href="/urls/new">Shorten URL</a>
</body>
</html>